<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css'/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <script src="/javascripts/recipeEditor.js"></script>

</head>
<body>
<% include layout.ejs %>

<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<div class="row">
    <div class="col-sm-4" id="dishes">
        <ul id="recipeList" style="display:inline-block;"></ul>
    </div>
    <div class="col-sm-8 jumbotron">
        <h1><span id="name"></span></h1>
        <span id="description"></span>
    </div>
    <div id="newRecipe" class="col-sm-12">
        <h2>Add a recipe:</h2>
        <input id="inputRecipeName" placeholder="Recipe Name">
        <input id="inputRecipeDescription" placeholder="Description">
        <input id="inputRecipeTime" placeholder="Making time">
        <button id="addRecipeBtn">Add recipe!</button>
    </div>
</div>

</body>
</html>
